PORT=3727
REDIS_URL="redis://127.0.0.1:6379"

# https://osu.ppy.sh/home/account/edit#oauth
OSU_CLIENT_ID=727
OSU_CLIENT_SECRET="your_secret_here"
# time between score requests
OSU_SCORES_POLL_INTERVAL=5000
# time between user/beatmap data requests
OSU_DATA_FETCH_INTERVAL=15000

# either a "file" or "server" database
DATABASE_TYPE="file"
# for "server" databases
POSTGRES_URL="postgresql://username:password@hostname:port/database"
# for "file" databases
DATABASE_FILE="storage/osulive.db"
# backups folder for database
DATABASE_BACKUPS_FOLDER="storage/backups"
